In [2]:
import pandas as pd

# Define la ruta del archivo de CSV.
# Reemplaza 'nombre_de_tu_archivo.csv' con el nombre de tu archivo real.
ruta_archivo = '/content/dataset_streaming_500k_errores.csv'

# Carga el archivo de Excel en un DataFrame de pandas.
df = pd.read_csv(ruta_archivo)

# Muestra las primeras 5 filas del DataFrame para verificar que se cargó correctamente.
print(df.head())

   ID_Encuesta  Nombre_Usuario  Edad       País Plan_Suscripcion  \
0       216247  usuario_216247  34.0      ChIlE          Premium
1       133971  usuario_133971  32.0       perÚ           Básico
2       107991  usuario_107991  45.0     MéxiCO           Básico
3       248711  usuario_248711  23.0  aRgENtIna           Básico
4        72301   usuario_72301  44.0     esPaña       Estudiante

  Calificacion_Servicio Genero_Favorito Minutos_Vistos_Mes  Comentarios
0                    10       Romántico              98960          NaN
1                     9      Documental             70,023          NaN
2                     9       Romántico          17253.000          NaN
3                     3           Drama          12144.000          NaN
4                     1      Documental             36,913          NaN

In [6]:
import numpy as np

# Intentar convertir la columna 'Edad' a tipo numérico. Los errores se convertirán en NaN.
df_cleaned['Edad'] = pd.to_numeric(df_cleaned['Edad'], errors='coerce')

# Rellenar los valores nulos (incluyendo aquellos que eran texto y no se pudieron convertir) con "no_edad"
df_cleaned['Edad'] = df_cleaned['Edad'].fillna('no_edad')

# Convertir los valores numéricos restantes a entero (los "no_edad" seguirán siendo cadenas)
# Primero, identificamos las filas que NO son 'no_edad'
numeric_ages_mask = df_cleaned['Edad'] != 'no_edad'

# Luego, convertimos solo esas filas a entero
df_cleaned.loc[numeric_ages_mask, 'Edad'] = df_cleaned.loc[numeric_ages_mask, 'Edad'].astype(int)


# Mostrar información sobre la columna 'Edad' y las primeras filas para verificar
print("\nInformación de la columna 'Edad' después de limpiar:")
print(df_cleaned['Edad'].value_counts(dropna=False).head()) # Mostrar la frecuencia de los primeros valores (incluido 'no_edad')
print("\nPrimeras filas del DataFrame después de limpiar 'Edad':")
print(df_cleaned.head())

Información de la columna 'Edad' después de limpiar:
Edad
no_edad    14908
38          9564
21          9536
58          9529
33          9502
Name: count, dtype: int64

Primeras filas del DataFrame después de limpiar 'Edad':
   ID_Encuesta  Nombre_Usuario Edad       País Plan_Suscripcion  \
0       216247  usuario_216247   34      ChIlE          Premium
1       133971  usuario_133971   32       perÚ           Básico
2       107991  usuario_107991   45     MéxiCO           Básico
3       248711  usuario_248711   23  aRgENtIna           Básico
4        72301   usuario_72301   44     esPaña       Estudiante

  Calificacion_Servicio Genero_Favorito Minutos_Vistos_Mes  Comentarios
0                    10       Romántico              98960          NaN
1                     9      Documental             70,023          NaN
2                     9       Romántico          17253.000          NaN
3                     3           Drama          12144.000          NaN
4                     1      Documental             36,913          NaN

In [4]:
# Eliminar filas duplicadas basadas en la columna 'ID_Encuesta'
df_cleaned = df.drop_duplicates(subset=['ID_Encuesta'])

# Restablecer el índice para tener una numeración secuencial
df_cleaned = df_cleaned.reset_index(drop=True)

# Mostrar las primeras filas del DataFrame limpio para verificar
print(df_cleaned.head())

   ID_Encuesta  Nombre_Usuario  Edad       País Plan_Suscripcion  \
0       216247  usuario_216247  34.0      ChIlE          Premium
1       133971  usuario_133971  32.0       perÚ           Básico
2       107991  usuario_107991  45.0     MéxiCO           Básico
3       248711  usuario_248711  23.0  aRgENtIna           Básico
4        72301   usuario_72301  44.0     esPaña       Estudiante

  Calificacion_Servicio Genero_Favorito Minutos_Vistos_Mes  Comentarios
0                    10       Romántico              98960          NaN
1                     9      Documental             70,023          NaN
2                     9       Romántico          17253.000          NaN
3                     3           Drama          12144.000          NaN
4                     1      Documental             36,913          NaN

In [5]:
# Verificar si hay valores nulos en la columna 'Nombre_Usuario'
print("Valores nulos antes de limpiar:", df_cleaned['Nombre_Usuario'].isnull().sum())

# Eliminar filas con valores nulos en 'Nombre_Usuario'
df_cleaned.dropna(subset=['Nombre_Usuario'], inplace=True)

# Estandarizar el formato a minúsculas
df_cleaned['Nombre_Usuario'] = df_cleaned['Nombre_Usuario'].str.lower()

# Verificar si hay nombres de usuario duplicados
print("Nombres de usuario duplicados antes de eliminar:", df_cleaned['Nombre_Usuario'].duplicated().sum())

# Eliminar filas con nombres de usuario duplicados (manteniendo la primera aparición)
df_cleaned.drop_duplicates(subset=['Nombre_Usuario'], keep='first', inplace=True)

# Restablecer el índice después de eliminar filas
df_cleaned.reset_index(drop=True, inplace=True)

# Mostrar las primeras filas del DataFrame limpio y el número de filas restante
print("\nDataFrame después de limpiar 'Nombre_Usuario':")
print(df_cleaned.head())
print("\nNúmero de filas después de limpiar 'Nombre_Usuario':", len(df_cleaned))

Valores nulos antes de limpiar: 0
Nombres de usuario duplicados antes de eliminar: 0

DataFrame después de limpiar 'Nombre_Usuario':
   ID_Encuesta  Nombre_Usuario  Edad       País Plan_Suscripcion  \
0       216247  usuario_216247  34.0      ChIlE          Premium
1       133971  usuario_133971  32.0       perÚ           Básico
2       107991  usuario_107991  45.0     MéxiCO           Básico
3       248711  usuario_248711  23.0  aRgENtIna           Básico
4        72301   usuario_72301  44.0     esPaña       Estudiante

  Calificacion_Servicio Genero_Favorito Minutos_Vistos_Mes  Comentarios
0                    10       Romántico              98960          NaN
1                     9      Documental             70,023          NaN
2                     9       Romántico          17253.000          NaN
3                     3           Drama          12144.000          NaN
4                     1      Documental             36,913          NaN

Número de filas después de limpiar 'Nombre_Usuario': 500000

In [7]:
# Estandarizar la columna 'País' a formato título
df_cleaned['País'] = df_cleaned['País'].str.title()

# Identificar las columnas desde 'País' hacia la derecha
columns_to_fill = df_cleaned.columns[df_cleaned.columns.get_loc('País'):]

# Rellenar valores nulos o vacíos con 'no_dato' en las columnas seleccionadas
df_cleaned[columns_to_fill] = df_cleaned[columns_to_fill].fillna('no_dato')

# Mostrar las primeras filas del DataFrame para verificar los cambios
print("DataFrame después de limpiar 'País' y rellenar nulos:")
print(df_cleaned.head())

DataFrame después de limpiar 'País' y rellenar nulos:
   ID_Encuesta  Nombre_Usuario Edad       País Plan_Suscripcion  \
0       216247  usuario_216247   34      Chile          Premium
1       133971  usuario_133971   32       Perú           Básico
2       107991  usuario_107991   45     México           Básico
3       248711  usuario_248711   23  Argentina           Básico
4        72301   usuario_72301   44     España       Estudiante

  Calificacion_Servicio Genero_Favorito Minutos_Vistos_Mes Comentarios
0                    10       Romántico              98960     no_dato
1                     9      Documental             70,023     no_dato
2                     9       Romántico          17253.000     no_dato
3                     3           Drama          12144.000     no_dato
4                     1      Documental             36,913     no_dato

In [8]:
# Limpiar la columna 'Minutos_Vistos_Mes' eliminando comas y puntos que no sean decimales
# Primero, convertimos a string para asegurar que el método .str.replace funcione
df_cleaned['Minutos_Vistos_Mes'] = df_cleaned['Minutos_Vistos_Mes'].astype(str).str.replace('[^0-9.,]', '', regex=True)
df_cleaned['Minutos_Vistos_Mes'] = df_cleaned['Minutos_Vistos_Mes'].str.replace(',', '.') # Reemplazar comas por puntos decimales

# Intentar convertir la columna a tipo numérico (float)
df_cleaned['Minutos_Vistos_Mes'] = pd.to_numeric(df_cleaned['Minutos_Vistos_Mes'], errors='coerce')

# Rellenar los valores que no se pudieron convertir (NaN) con 0 o algún otro valor por defecto si es necesario
# En este caso, si no se pudo convertir, asumimos que el valor es 0 minutos
df_cleaned['Minutos_Vistos_Mes'] = df_cleaned['Minutos_Vistos_Mes'].fillna(0)

# Redondear a un máximo de dos decimales
df_cleaned['Minutos_Vistos_Mes'] = df_cleaned['Minutos_Vistos_Mes'].round(2)

# Mostrar información sobre la columna y las primeras filas para verificar
print("\nInformación de la columna 'Minutos_Vistos_Mes' después de limpiar:")
print(df_cleaned['Minutos_Vistos_Mes'].head())
print("\nTipo de dato de la columna 'Minutos_Vistos_Mes':", df_cleaned['Minutos_Vistos_Mes'].dtype)
print("\nPrimeras filas del DataFrame después de limpiar 'Minutos_Vistos_Mes':")
print(df_cleaned.head())

Información de la columna 'Minutos_Vistos_Mes' después de limpiar:
0    98960.00
1       70.02
2    17253.00
3    12144.00
4       36.91
Name: Minutos_Vistos_Mes, dtype: float64

Tipo de dato de la columna 'Minutos_Vistos_Mes': float64

Primeras filas del DataFrame después de limpiar 'Minutos_Vistos_Mes':
   ID_Encuesta  Nombre_Usuario Edad       País Plan_Suscripcion  \
0       216247  usuario_216247   34      Chile          Premium
1       133971  usuario_133971   32       Perú           Básico
2       107991  usuario_107991   45     México           Básico
3       248711  usuario_248711   23  Argentina           Básico
4        72301   usuario_72301   44     España       Estudiante

  Calificacion_Servicio Genero_Favorito  Minutos_Vistos_Mes Comentarios
0                    10       Romántico            98960.00     no_dato
1                     9      Documental               70.02     no_dato
2                     9       Romántico            17253.00     no_dato
3                     3           Drama            12144.00     no_dato
4                     1      Documental               36.91     no_dato