In [10]:
import pandas as pd

# Define la ruta del archivo de Excel.
# Reemplaza 'nombre_de_tu_archivo.xlsx' con el nombre de tu archivo real.
ruta_archivo = '/content/Dataset con varios errores 222.xlsx'

# Carga el archivo de Excel en un DataFrame de pandas.
df = pd.read_excel(ruta_archivo)

# Muestra las primeras 5 filas del DataFrame para verificar que se cargó correctamente.
print(df.head())

   ID_Cliente Nombre_Completo            Edad Género     Ciudad  \
0         101      Juan Perez              28      M     Madrid
1         102      Ana García              35      F  Barcelona
2         103     Pedro Gomez    Veinte y dos      M     Madrid
3         104  Laura Martínez              41      F        NaN
4         105  Carlos Sanchez  Treinta y seis      M    Sevilla

  Fecha_Ultima_Compra Total_Gastado_USD   Producto_Favorito
0          2025-07-15           $120.50            Camiseta
1          2025-08-20            250.75  Zapatos deportivos
2          2024-12-01           $300.00   Chaqueta de cuero
3          2025-06-10             85.20            Pantalón
4          2025-08-25               180                 NaN

In [11]:

# Remplaza todos los valores nulos (NaN) en la columna 'Nombre_Completo' por 'sin_nombre'
df['Nombre_Completo'] = df['Nombre_Completo'].fillna('sin_nombre')

# Muestra el DataFrame modificado para verificar el cambio
print(df)

   ID_Cliente  Nombre_Completo            Edad Género     Ciudad  \
0         101       Juan Perez              28      M     Madrid
1         102       Ana García              35      F  Barcelona
2         103      Pedro Gomez    Veinte y dos      M     Madrid
3         104   Laura Martínez              41      F        NaN
4         105   Carlos Sanchez  Treinta y seis      M    Sevilla
5         106       Sofía Ruíz              29      F  Barcelona
6         107       José López              50      M     Madrid
7         108       sin_nombre              30      F   Valencia
8         109  María Fernandez              45      F        NaN
9         110      Pedro Gomez              22      M     Madrid

  Fecha_Ultima_Compra Total_Gastado_USD   Producto_Favorito
0          2025-07-15           $120.50            Camiseta
1          2025-08-20            250.75  Zapatos deportivos
2          2024-12-01           $300.00   Chaqueta de cuero
3          2025-06-10             85.20            Pantalón
4          2025-08-25               180                 NaN
5          2025-07-05            999.00             Vestido
6          2025-08-18              2500             Calzado
7          2025-08-28             65.00               Falda
8          2025-08-22            110.00        Complementos
9          2024-12-01           $300.00   Chaqueta de cuero

In [12]:
# Reemplaza los valores de texto por sus equivalentes numéricos
df['Edad'] = df['Edad'].replace({'Veinte y dos': 22,
                                 'Treinta y seis': 36})

# Muestra el DataFrame modificado
print(df)

   ID_Cliente  Nombre_Completo  Edad Género     Ciudad Fecha_Ultima_Compra  \
0         101       Juan Perez    28      M     Madrid          2025-07-15
1         102       Ana García    35      F  Barcelona          2025-08-20
2         103      Pedro Gomez    22      M     Madrid          2024-12-01
3         104   Laura Martínez    41      F        NaN          2025-06-10
4         105   Carlos Sanchez    36      M    Sevilla          2025-08-25
5         106       Sofía Ruíz    29      F  Barcelona          2025-07-05
6         107       José López    50      M     Madrid          2025-08-18
7         108       sin_nombre    30      F   Valencia          2025-08-28
8         109  María Fernandez    45      F        NaN          2025-08-22
9         110      Pedro Gomez    22      M     Madrid          2024-12-01

  Total_Gastado_USD   Producto_Favorito
0           $120.50            Camiseta
1            250.75  Zapatos deportivos
2           $300.00   Chaqueta de cuero
3             85.20            Pantalón
4               180                 NaN
5            999.00             Vestido
6              2500             Calzado
7             65.00               Falda
8            110.00        Complementos
9           $300.00   Chaqueta de cuero

/tmp/ipython-input-3435400859.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Edad'] = df['Edad'].replace({'Veinte y dos': 22,

In [13]:
# Reemplaza la cadena de texto 'null' por 'Sin_ciudad'
df['Ciudad'] = df['Ciudad'].replace('null', 'sin_ciudad')

# Reemplaza los valores nulos (NaN) por 'Sin_ciudad'
df['Ciudad'] = df['Ciudad'].fillna('sin_ciudad')

# Muestra el DataFrame modificado
print(df)

   ID_Cliente  Nombre_Completo  Edad Género      Ciudad Fecha_Ultima_Compra  \
0         101       Juan Perez    28      M      Madrid          2025-07-15
1         102       Ana García    35      F   Barcelona          2025-08-20
2         103      Pedro Gomez    22      M      Madrid          2024-12-01
3         104   Laura Martínez    41      F  sin_ciudad          2025-06-10
4         105   Carlos Sanchez    36      M     Sevilla          2025-08-25
5         106       Sofía Ruíz    29      F   Barcelona          2025-07-05
6         107       José López    50      M      Madrid          2025-08-18
7         108       sin_nombre    30      F    Valencia          2025-08-28
8         109  María Fernandez    45      F  sin_ciudad          2025-08-22
9         110      Pedro Gomez    22      M      Madrid          2024-12-01

  Total_Gastado_USD   Producto_Favorito
0           $120.50            Camiseta
1            250.75  Zapatos deportivos
2           $300.00   Chaqueta de cuero
3             85.20            Pantalón
4               180                 NaN
5            999.00             Vestido
6              2500             Calzado
7             65.00               Falda
8            110.00        Complementos
9           $300.00   Chaqueta de cuero

In [14]:
# Reemplaza el símbolo de dólar ($) y las comas con una cadena vacía
df['Total_Gastado_USD'] = df['Total_Gastado_USD'].astype(str).str.replace('$', '', regex=False).str.replace(',', '', regex=False)

# Convierte la columna a tipo de dato numérico (float)
df['Total_Gastado_USD'] = pd.to_numeric(df['Total_Gastado_USD'])

# Muestra el DataFrame modificado
print(df)

   ID_Cliente  Nombre_Completo  Edad Género      Ciudad Fecha_Ultima_Compra  \
0         101       Juan Perez    28      M      Madrid          2025-07-15
1         102       Ana García    35      F   Barcelona          2025-08-20
2         103      Pedro Gomez    22      M      Madrid          2024-12-01
3         104   Laura Martínez    41      F  sin_ciudad          2025-06-10
4         105   Carlos Sanchez    36      M     Sevilla          2025-08-25
5         106       Sofía Ruíz    29      F   Barcelona          2025-07-05
6         107       José López    50      M      Madrid          2025-08-18
7         108       sin_nombre    30      F    Valencia          2025-08-28
8         109  María Fernandez    45      F  sin_ciudad          2025-08-22
9         110      Pedro Gomez    22      M      Madrid          2024-12-01

   Total_Gastado_USD   Producto_Favorito
0             120.50            Camiseta
1             250.75  Zapatos deportivos
2             300.00   Chaqueta de cuero
3              85.20            Pantalón
4             180.00                 NaN
5             999.00             Vestido
6            2500.00             Calzado
7              65.00               Falda
8             110.00        Complementos
9             300.00   Chaqueta de cuero

In [15]:
# Remplaza todos los valores nulos (NaN) en la columna 'Producto_Favorito' por 'sin_producto'
df['Producto_Favorito'] = df['Producto_Favorito'].fillna('sin_producto')

# Muestra el DataFrame modificado para verificar el cambio
print(df)

   ID_Cliente  Nombre_Completo  Edad Género      Ciudad Fecha_Ultima_Compra  \
0         101       Juan Perez    28      M      Madrid          2025-07-15
1         102       Ana García    35      F   Barcelona          2025-08-20
2         103      Pedro Gomez    22      M      Madrid          2024-12-01
3         104   Laura Martínez    41      F  sin_ciudad          2025-06-10
4         105   Carlos Sanchez    36      M     Sevilla          2025-08-25
5         106       Sofía Ruíz    29      F   Barcelona          2025-07-05
6         107       José López    50      M      Madrid          2025-08-18
7         108       sin_nombre    30      F    Valencia          2025-08-28
8         109  María Fernandez    45      F  sin_ciudad          2025-08-22
9         110      Pedro Gomez    22      M      Madrid          2024-12-01

   Total_Gastado_USD   Producto_Favorito
0             120.50            Camiseta
1             250.75  Zapatos deportivos
2             300.00   Chaqueta de cuero
3              85.20            Pantalón
4             180.00        sin_producto
5             999.00             Vestido
6            2500.00             Calzado
7              65.00               Falda
8             110.00        Complementos
9             300.00   Chaqueta de cuero

In [16]:
# Define la ruta y el nombre del nuevo archivo de Excel
ruta_archivo_final = 'mi_dataframe_limpio.xlsx'

# Exporta el DataFrame a un archivo de Excel
df.to_excel(ruta_archivo_final, index=False)

print(f"DataFrame exportado exitosamente a '{ruta_archivo_final}'")

DataFrame exportado exitosamente a 'mi_dataframe_limpio.xlsx'